# TimeZone class

Let's start with the timezone class. 

This one will have two instance attributes:
+ offset
+ name

Syntax : datetime.timedelta(days=0, seconds=0, microseconds=0, milliseconds=0, minutes=0, hours=0, weeks=0)

In [2]:
from datetime import datetime, timedelta
  
# Using current time
ini_time_for_now = datetime.now()
  
# printing initial_date
print ("initial_date", str(ini_time_for_now))
  
# Calculating future dates
# for two years
future_date_after_2yrs = ini_time_for_now + timedelta(days = 730)
  
future_date_after_35days = ini_time_for_now + timedelta(days = 35)
  
# printing calculated future_dates
print('future_date_after_2yrs:', str(future_date_after_2yrs))
print('future_date_after_35days:', str(future_date_after_35days))

initial_date 2022-03-03 21:18:39.099100
future_date_after_2yrs: 2024-03-02 21:18:39.099100
future_date_after_35days: 2022-04-07 21:18:39.099100

In [33]:
ini_time_for_now = datetime.now()
# for time delta sign of minutes will be set to sign of hours
any_future = ini_time_for_now + timedelta(hours = -2, minutes = 30)
print(any_future)

2022-03-03 20:03:29.843220

In [40]:
class TimeZone:
    def __init__(self, name, offset_hours, offset_minutes):           
        self.name = name    
        self.offset = timedelta(hours=offset_hours, minutes=offset_minutes)

Let's try it out and make sure it's working:

In [35]:
tz1 = TimeZone('Argentina', -3, 0)
tz2 = TimeZone('Iran', 3, 30)

In [36]:
tz1.name, tz2.name

('Argentina', 'Iran')

In [37]:
dt = datetime.utcnow()
print(dt)

2022-03-03 18:05:15.838109

In [38]:
print(dt + tz1.offset)

2022-03-03 15:05:15.838109

In [39]:
print(dt + tz2.offset)

2022-03-03 21:35:15.838109

In [63]:
from datetime import timedelta


class TimeZone:
    def __init__(self, name, offset_hours, offset_minutes):
        if name is None or len(str(name).strip()) == 0:
            raise ValueError('Timezone name cannot be empty.')
            
        self.name = str(name).strip()
        
        if type(offset_hours) != int:
            raise ValueError('Hour offset must be an integer.')
        
        if type(offset_minutes) != int:
            raise ValueError('Minutes offset must be an integer.')
            
        if offset_minutes < -59 or offset_minutes > 59:
            raise ValueError('Minutes offset must between -59 and 59 (inclusive).')
            
        offset = timedelta(hours=offset_hours, minutes=offset_minutes)

        # offsets are technically bounded between -12:00 and 14:00
        # see: https://en.wikipedia.org/wiki/List_of_UTC_time_offsets
        if offset < timedelta(hours=-12, minutes=0) or offset > timedelta(hours=14, minutes=0):
            raise ValueError('Offset must be between -12:00 and +14:00.')
            
        self.offset_hours = offset_hours
        self.offset_minutes = offset_minutes
        self.offset = offset

In [35]:
tz1 = TimeZone('Argentina', -3, 0)
tz2 = TimeZone('Iran', 3, 30)

In [36]:
tz1.name, tz2.name

('Argentina', 'Iran')

In [37]:
dt = datetime.utcnow()
print(dt)

2022-03-03 18:05:15.838109

In [38]:
print(dt + tz1.offset)

2022-03-03 15:05:15.838109

In [39]:
print(dt + tz2.offset)

2022-03-03 21:35:15.838109

# Transaction Numbers

## OOP

In [46]:
class TransactionID:
    def __init__(self, start_id):
        self.start_id = start_id
    
    def next(self):
        self.start_id += 1
        return self.start_id

In [47]:
class Account:
    transaction_counter = TransactionID(100)
    def make_transaction(self):
        new_trans_id = Account.transaction_counter.next()
        return new_trans_id

In [48]:
a1 = Account()
a2 = Account()

In [49]:
print(a1.make_transaction())
print(a2.make_transaction())
print(a1.make_transaction())

101
102
103

## Generators

In [51]:
def transaction_ids(start_id):
    while True:
        start_id += 1
        yield start_id

In [52]:
t = transaction_ids(100)

In [53]:
next(t)

101

In [54]:
next(t)

102

In [56]:
class Account:
    transaction_counter = transaction_ids(100)
    def make_transaction(self):
        new_trans_id = next(Account.transaction_counter)
        return new_trans_id

In [57]:
a1 = Account()
a2 = Account()

In [58]:
print(a1.make_transaction())
print(a2.make_transaction())
print(a1.make_transaction())

101
102
103

## itertools

In [59]:
import itertools
class Account:
    transaction_counter = itertools.count(100)
    def make_transaction(self):
        new_trans_id = next(Account.transaction_counter)
        return new_trans_id

In [60]:
a1 = Account()
a2 = Account()

In [61]:
print(a1.make_transaction())
print(a2.make_transaction())
print(a1.make_transaction())

100
101
102

# Account Number, First Name, Last Name

In [65]:
class Account:
    transaction_counter = itertools.count(100)
    
    def __init__(self, account_number, first_name, last_name):
        if len(first_name) == 0: 
            raise ValueError('First name cannot be empty.')
        if len(last_name) == 0: 
            raise ValueError('Last name cannot be empty.')

        self.first_name = first_name
        self.last_name = last_name
        self.account_number = account_number

In [70]:
class Account:
    transaction_counter = itertools.count(100)
    
    def __init__(self, account_number, first_name, last_name):

        self.first_name = Account.validate_name(first_name, 'First Name')
        self.last_name = Account.validate_name(last_name, 'Last Name')
        self.account_number = account_number
        
    def validate_name(value, field_title):
        if len(str(value)) == 0:
            raise ValueError(f'{field_title} cannot be empty')
        return str(value).strip()

In [71]:
a = Account('1234', 'Ali', '')

ValueError: Last Name cannot be empty

In [72]:
a = Account('1234', 'Ali', 'Afshari')

In [74]:
print(a.first_name)

Ali

In [75]:
a = Account('1234', 'Ali', None)

In [76]:
str('None')

'None'

In [ ]:
# unit testing is needed

In [77]:
class Account:
    transaction_counter = itertools.count(100)
    
    def __init__(self, account_number, first_name, last_name):

        self.first_name = self.validate_name(first_name, 'First Name')
        self.last_name = self.validate_name(last_name, 'Last Name')
        self.account_number = account_number
        
    def validate_name(self, value, field_title):
        if len(str(value)) == 0 or value is None:
            raise ValueError(f'{field_title} cannot be empty')
        return str(value).strip()

In [78]:
a = Account('1234', 'Ali', None)

ValueError: Last Name cannot be empty

# Preferred TimeZone

In [124]:
class Account:
    transaction_counter = itertools.count(100)
    
    def __init__(self, account_number, first_name, last_name,
                timezone = None):

        self.first_name = self.validate_name(first_name, 'First Name')
        self.last_name = self.validate_name(last_name, 'Last Name')
        self.account_number = account_number
        
        if timezone is None:
            self.timezone = TimeZone('Tehran', 3, 30)
        elif not isinstance(timezone, TimeZone):
            raise ValueError('Time Zone must be a valid TimeZone object')
        else:
            self.timezone = timezone
        
    def validate_name(self, value, field_title):
        if len(str(value)) == 0 or value is None:
            raise ValueError(f'{field_title} cannot be empty')
        return str(value).strip()

In [125]:
try:
    a = Account('123', 'Ali', 'Afshari', '-7:00')
except ValueError as e:
    print(e)

Time Zone must be a valid TimeZone object

In [126]:
a = Account('123', 'Ali', 'Afshari')

In [127]:
a.timezone.offset_hours

3

In [128]:
a.timezone = TimeZone('Argentina', -3, 0)

In [129]:
print(a.timezone)

TimeZone(name='Argentina', offset_hours=-3, offset_minutes=0)

In [130]:
# add __repr__ to TimeZone class
from datetime import timedelta


class TimeZone:
    def __init__(self, name, offset_hours, offset_minutes):
        if name is None or len(str(name).strip()) == 0:
            raise ValueError('Timezone name cannot be empty.')
            
        self.name = str(name).strip()
        
        if type(offset_hours) != int:
            raise ValueError('Hour offset must be an integer.')
        
        if type(offset_minutes) != int:
            raise ValueError('Minutes offset must be an integer.')
            
        if offset_minutes < -59 or offset_minutes > 59:
            raise ValueError('Minutes offset must between -59 and 59 (inclusive).')
            
        offset = timedelta(hours=offset_hours, minutes=offset_minutes)

        # offsets are technically bounded between -12:00 and 14:00
        # see: https://en.wikipedia.org/wiki/List_of_UTC_time_offsets
        if offset < timedelta(hours=-12, minutes=0) or offset > timedelta(hours=14, minutes=0):
            raise ValueError('Offset must be between -12:00 and +14:00.')
            
        self.offset_hours = offset_hours
        self.offset_minutes = offset_minutes
        self.offset = offset
        
    def __repr__(self):
        return (f"TimeZone(name='{self.name}', offset_hours={self.offset_hours}, offset_minutes={self.offset_minutes})")

In [131]:
tz1 = TimeZone('Tehran', 3, 30)

In [132]:
tz1

TimeZone(name='Tehran', offset_hours=3, offset_minutes=30)

In [134]:
class Account:
    transaction_counter = itertools.count(100)
    
    def __init__(self, account_number, first_name, last_name,
                timezone = None):

        self.first_name = self.validate_name(first_name, 'First Name')
        self.last_name = self.validate_name(last_name, 'Last Name')
        self.account_number = account_number
        
        if timezone is None:
            self.timezone = TimeZone('Tehran', 3, 30)
        elif not isinstance(timezone, TimeZone):
            raise ValueError('Time Zone must be a valid TimeZone object')
        else:
            self.timezone = timezone
        
    def validate_name(self, value, field_title):
        if len(str(value)) == 0 or value is None:
            raise ValueError(f'{field_title} cannot be empty')
        return str(value).strip()

In [135]:
a = Account('123', 'Ali', 'Afshari')

In [136]:
a.timezone.offset_hours

3

In [137]:
a.timezone = TimeZone('Argentina', -3, 0)

In [138]:
print(a.timezone)

TimeZone(name='Argentina', offset_hours=-3, offset_minutes=0)

# Account Balance

In [139]:
from decimal import Decimal
class Account:
    transaction_counter = itertools.count(100)
    
    def __init__(self, account_number, first_name, last_name,
                timezone = None, initial_balance = Decimal('0.0')):

        self.first_name = self.validate_name(first_name, 'First Name')
        self.last_name = self.validate_name(last_name, 'Last Name')
        self.account_number = account_number
        
        if timezone is None:
            self.timezone = TimeZone('Tehran', 3, 30)
        elif not isinstance(timezone, TimeZone):
            raise ValueError('Time Zone must be a valid TimeZone object')
        else:
            self.timezone = timezone
            
        if initial_balance < Decimal('0.0'):
            raise ValueError('initial balance must be a non-negative value')
        self.initial_balance = initial_balance
        
    def validate_name(self, value, field_title):
        if len(str(value)) == 0 or value is None:
            raise ValueError(f'{field_title} cannot be empty')
        return str(value).strip()

In [140]:
a = Account('123', 'Ali', 'Afshari', initial_balance = Decimal('1000'))

# interest rate
it is common to all the Accounts so it is not an instance variable,
it is really best suited to be a class variable(attribute)

In [144]:
from decimal import Decimal
class Account:
    transaction_counter = itertools.count(100)
    interest_rate = 0.5  # percent
    
    def __init__(self, account_number, first_name, last_name,
                timezone = None, initial_balance = Decimal('0.0')):

        self.first_name = self.validate_name(first_name, 'First Name')
        self.last_name = self.validate_name(last_name, 'Last Name')
        self.account_number = account_number
        
        if timezone is None:
            self.timezone = TimeZone('Tehran', 3, 30)
        elif not isinstance(timezone, TimeZone):
            raise ValueError('Time Zone must be a valid TimeZone object')
        else:
            self.timezone = timezone
            
        if initial_balance < Decimal('0.0'):
            raise ValueError('initial balance must be a non-negative value')
        self.initial_balance = initial_balance
        
    def validate_name(self, value, field_title):
        if len(str(value)) == 0 or value is None:
            raise ValueError(f'{field_title} cannot be empty')
        return str(value).strip()

In [145]:
a1 = Account(1234, 'Ali', 'Afshari')
a2 = Account(12345, 'Mina', 'Mohebbi')

In [146]:
a1.first_name

'Ali'

In [147]:
a1.interest_rate, a2.interest_rate

(0.5, 0.5)

In [148]:
Account.interest_rate

0.5

In [149]:
Account.interest_rate = 10

In [150]:
a1.interest_rate, a2.interest_rate

(10, 10)

In [151]:
a1.interest_rate = 100

In [152]:
a1.interest_rate, a2.interest_rate

(100, 10)

In [153]:
a1.__dict__

{'first_name': 'Ali',
 'last_name': 'Afshari',
 'account_number': 1234,
 'timezone': TimeZone(name='Tehran', offset_hours=3, offset_minutes=30),
 'initial_balance': Decimal('0.0'),
 'interest_rate': 100}

In [154]:
a2.__dict__

{'first_name': 'Mina',
 'last_name': 'Mohebbi',
 'account_number': 12345,
 'timezone': TimeZone(name='Tehran', offset_hours=3, offset_minutes=30),
 'initial_balance': Decimal('0.0')}

In [156]:
a2.interest_rate

10

In [157]:
Account.__dict__

mappingproxy({'__module__': '__main__',
              'transaction_counter': count(100),
              'interest_rate': 10,
              '__init__': <function __main__.Account.__init__(self, account_number, first_name, last_name, timezone=None, initial_balance=Decimal('0.0'))>,
              'validate_name': <function __main__.Account.validate_name(self, value, field_title)>,
              '__dict__': <attribute '__dict__' of 'Account' objects>,
              '__weakref__': <attribute '__weakref__' of 'Account' objects>,
              '__doc__': None})

In [158]:
a1.__class__.__dict__

mappingproxy({'__module__': '__main__',
              'transaction_counter': count(100),
              'interest_rate': 10,
              '__init__': <function __main__.Account.__init__(self, account_number, first_name, last_name, timezone=None, initial_balance=Decimal('0.0'))>,
              'validate_name': <function __main__.Account.validate_name(self, value, field_title)>,
              '__dict__': <attribute '__dict__' of 'Account' objects>,
              '__weakref__': <attribute '__weakref__' of 'Account' objects>,
              '__doc__': None})

# Transaction Codes

In [ ]:
# using a dictionary
from decimal import Decimal
class Account:
    transaction_counter = itertools.count(100)
    interest_rate = 0.5  # percent
    transaction_codes = {
        'deposit' : 'D',
        'withdraw' : 'W',
        'interest' : 'I',
        'rejected' : 'X'
    }
    
    def __init__(self, account_number, first_name, last_name,
                timezone = None, initial_balance = Decimal('0.0')):

        self.first_name = self.validate_name(first_name, 'First Name')
        self.last_name = self.validate_name(last_name, 'Last Name')
        self.account_number = account_number
        
        if timezone is None:
            self.timezone = TimeZone('Tehran', 3, 30)
        elif not isinstance(timezone, TimeZone):
            raise ValueError('Time Zone must be a valid TimeZone object')
        else:
            self.timezone = timezone
            
        if initial_balance < Decimal('0.0'):
            raise ValueError('initial balance must be a non-negative value')
        self.initial_balance = initial_balance
        
    def validate_name(self, value, field_title):
        if len(str(value)) == 0 or value is None:
            raise ValueError(f'{field_title} cannot be empty')
        return str(value).strip()

# Confirmation Code

As I mentioned earlier the code should contain:
    + the transaction code
    + the account number
    + the date/time in UTC of the transaction
    + the transaction number

Something like: X-123-20220303205956-1000

In [167]:
def generate_confirmation_code(account_number, transaction_id, transaction_code):
    dt_str = datetime.utcnow().strftime('%Y%m%d%H%M%S')
    return f'{transaction_code}-{account_number}-{dt_str}-{transaction_id}'

In [168]:
generate_confirmation_code(123, 1000, 'X')

'X-123-20220303205956-1000'

In [178]:
# using a dictionary
from decimal import Decimal
class Account:
    transaction_counter = itertools.count(100)
    interest_rate = 0.5  # percent
    transaction_codes = {
        'deposit' : 'D',
        'withdraw' : 'W',
        'interest' : 'I',
        'rejected' : 'X'
    }
    
    def __init__(self, account_number, first_name, last_name,
                timezone = None, initial_balance = Decimal('0.0')):

        self.first_name = self.validate_name(first_name, 'First Name')
        self.last_name = self.validate_name(last_name, 'Last Name')
        self.account_number = account_number
        
        if timezone is None:
            self.timezone = TimeZone('Tehran', 3, 30)
        elif not isinstance(timezone, TimeZone):
            raise ValueError('Time Zone must be a valid TimeZone object')
        else:
            self.timezone = timezone
            
        if initial_balance < Decimal('0.0'):
            raise ValueError('initial balance must be a non-negative value')
        self.initial_balance = initial_balance
        
    def generate_confirmation_code(self, transaction_code):
        transaction_id = next(Account.transaction_counter)
        dt_str = (datetime.utcnow()+self.timezone.offset).strftime('%Y%m%d%H%M%S')
        return f'{transaction_code}-{self.account_number}-{dt_str}-{transaction_id}'
    
    def validate_name(self, value, field_title):
        if len(str(value)) == 0 or value is None:
            raise ValueError(f'{field_title} cannot be empty')
        return str(value).strip()

In [179]:
a1 = Account(1111, 'AAAA', 'BBBB')
a2 = Account(2222, 'CCCC', 'DDDD')

In [180]:
a1.generate_confirmation_code('X')

'X-1111-20220304022415-100'

# Transactions

In [184]:
# using a dictionary
from decimal import Decimal
class Account:
    transaction_counter = itertools.count(100)
    interest_rate = 0.5  # percent
    transaction_codes = {
        'deposit' : 'D',
        'withdraw' : 'W',
        'interest' : 'I',
        'rejected' : 'X'
    }
    
    def __init__(self, account_number, first_name, last_name,
                timezone = None, balance = Decimal('0.0')):

        self.first_name = self.validate_name(first_name, 'First Name')
        self.last_name = self.validate_name(last_name, 'Last Name')
        self.account_number = account_number
        
        if timezone is None:
            self.timezone = TimeZone('Tehran', 3, 30)
        elif not isinstance(timezone, TimeZone):
            raise ValueError('Time Zone must be a valid TimeZone object')
        else:
            self.timezone = timezone
            
        if balance < Decimal('0.0'):
            raise ValueError('initial balance must be a non-negative value')
        self.balance = balance
        
    def generate_confirmation_code(self, transaction_code):
        transaction_id = next(Account.transaction_counter)
        dt_str = (datetime.utcnow()+self.timezone.offset).strftime('%Y%m%d%H%M%S')
        return f'{transaction_code}-{self.account_number}-{dt_str}-{transaction_id}'
    
    
    def validate_name(self, value, field_title):
        if len(str(value)) == 0 or value is None:
            raise ValueError(f'{field_title} cannot be empty')
        return str(value).strip()
    
    
    def deposit(self, value):
        if value < Decimal('0.0'):
            raise ValueError('Deposit value must be a positive number')
        
        conf_code = self.generate_confirmation_code(Account.transaction_codes['deposit'])
        self.balance += value
        return conf_code
    
    def withdraw(self, value):
        flag = False
        if value < Decimal('0.0'):
            raise ValueError('withdraw value must be a positive number')
        if self.balance - value < Decimal('0.0'):
            transaction_code = Account.transaction_codes['rejected']
        else:
            transaction_code = Account.transaction_codes['withdraw']
            flag = True
        conf_code = self.generate_confirmation_code(transaction_code)
        if flag:
            self.balance -= value
        return conf_code
    
    def pay_interest(self):
        interest = self.balance * Account.interest_rate / 100
        conf_code = self.generate_confirmation_code(Account.transaction_codes['interest'])
        self.balance += interest
        return conf_code

In [187]:
a = Account('A100', 'A', 'B', balance = Decimal('100.0'))

In [188]:
a.balance

Decimal('100.0')

In [189]:
a.deposit(Decimal('-100'))

ValueError: Deposit value must be a positive number

In [190]:
a.deposit(Decimal('100'))

'D-A100-20220304024656-100'

In [191]:
a.withdraw(Decimal('10.1'))

'W-A100-20220304024727-101'

# Unit Testing

In [193]:
a = Account('A100', 'A', 'B', timezone=TimeZone('MST', -7, 0), balance=Decimal('100'))
print(a.balance)
print(a.deposit(Decimal('150.02')))
print(a.balance)
print(a.withdraw(Decimal('0.02')))
print(a.balance)
Account.interest_rate = 1
print(a.interest_rate)
print(a.pay_interest())
print(a.balance)
print(a.withdraw(Decimal('1000')))

100
D-A100-20220303162728-103
250.02
W-A100-20220303162728-104
250.00
1
I-A100-20220303162728-105
252.50
X-A100-20220303162728-106

In [194]:
import unittest
def run_tests(test_class):
    suite = unittest.TestLoader().loadTestsFromTestCase(test_class)
    runner = unittest.TextTestRunner(verbosity=2)
    runner.run(suite)

In [213]:
class TestAccount(unittest.TestCase):
    def test_create_timezone_1(self):
        tz = TimeZone('ABC', -1, -30)
        self.assertEqual('ABC', tz.name)
        self.assertEqual(timedelta(hours=-1, minutes=-30), tz.offset)
        
    def test_create_timezone_2(self):
        tz = TimeZone('ABC', 1, -30)
        self.assertEqual('ABC', tz.name)
        self.assertEqual(timedelta(hours=1, minutes=-30), tz.offset)
        
    def test_create_account(self):
        account_number = 'A100'
        first_name = 'FIRST'
        last_name = 'LAST'
        tz = TimeZone('TZ', 1, 30)
        balance = Decimal('100')
        
        a = Account(account_number, first_name, last_name, tz, balance)
        
        self.assertEqual(account_number, a.account_number)
        self.assertEqual(first_name, a.first_name)
        self.assertEqual(last_name, a.last_name)
        self.assertEqual(tz, a.timezone)
        self.assertEqual(balance, a.balance)
        
    def test_create_account_blank_first_name(self):
        account_number = 'A100'
        first_name = ''
        last_name = 'LAST'
        tz = TimeZone('TZ', 1, 30)
        balance = Decimal('100')
        
        with self.assertRaises(ValueError):
            a = Account(account_number, first_name, last_name, tz, balance)
            
    def test_create_account_blank_first_name_2(self):
        account_number = 'A100'
        first_name = '  '
        last_name = 'LAST'
        tz = TimeZone('TZ', 1, 30)
        balance = Decimal('100')
        
        with self.assertRaises(ValueError):
            a = Account(account_number, first_name, last_name, tz, balance)
            
    def test_create_account_negative_balance(self):
        account_number = 'A100'
        first_name = '  '
        last_name = 'LAST'
        tz = TimeZone('TZ', 1, 30)
        balance = Decimal('-100')
        
        with self.assertRaises(ValueError):
            a = Account(account_number, first_name, last_name, tz, balance)
            
            
    def test_account_withdraw_ok(self):
        account_number = 'A100'
        first_name = 'First'
        last_name = 'LAST'
        tz = TimeZone('TZ', 1, 30)
        balance = Decimal('100')
        
        a = Account(account_number, first_name, last_name, tz, balance)
        conf_code = a.withdraw(20)
        self.assertTrue(conf_code.startswith('W-'))
        self.assertEqual(balance-Decimal('20'), a.balance)

In [214]:
run_tests(TestAccount)

test_account_withdraw_ok (__main__.TestAccount) ... ok
test_create_account (__main__.TestAccount) ... ok
test_create_account_blank_first_name (__main__.TestAccount) ... ok
test_create_account_blank_first_name_2 (__main__.TestAccount) ... FAIL
test_create_account_negative_balance (__main__.TestAccount) ... ok
test_create_timezone_1 (__main__.TestAccount) ... ok
test_create_timezone_2 (__main__.TestAccount) ... ok

======================================================================
FAIL: test_create_account_blank_first_name_2 (__main__.TestAccount)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "<ipython-input-213-64e25505ac03>", line 45, in test_create_account_blank_first_name_2
    a = Account(account_number, first_name, last_name, tz, balance)
AssertionError: ValueError not raised

----------------------------------------------------------------------
Ran 7 tests in 0.014s

FAILED (failures=1)